@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "微软雅黑";
  text-size-adjust: 100%; }

ul, li {
  list-style: none; }

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 625%; }

img, div, body, html, ul, li, a {
  -webkit-touch-callout: none; }

input, button {
  outline: 0; }

button {
  cursor: pointer; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:#999; }

  @mixin num($w,$h){
  width:$w;
  height:$h;
  }

  html,body,.wrap{
  @include num(100%,100%);
  }

  .wrap{
  display:flex;
  flex-direction:column;
  background:#F0F0F0;
  }

  header{
  @include num(100%,.45rem);
  background:#46D265;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 .1rem;
  a{
  color:#fff;
  font-size:.2rem;
  &:nth-child(1){
  i.icon{
  font-size:.18rem;
  color:#E8E7EF;
  font-weight:bold;
  }
  }
  }
  }

  section{
  flex:1;
  background:#F0F0F0;
  overflow-y:scroll;
  }

  .list{
  @include num(100%,.36rem);
  background:#F0F0F0;

  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 .05rem;
  a{
  font-size:.16rem;
  color:#939393;
  &:nth-child(3){
  font-size:.14rem;
  color:#72D69A;
  }
  }
  }

  .box{
  @include num(100%,1rem);
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 .1rem;
  background:#fff;
  .left{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  flex-basis:1rem;
  &:nth-child(3){
  h4{
  background:#00CAC8;
  }
  }
  h1{
  font-size:.18rem;
  }
  h2{
  font-size:.18rem;
  font-weight:bold;
  }
  h3{
  font-size:.16rem;
  }
  h4{
  background:#FF9700;
  color:#fff;
  padding:.01rem .02rem;
  }
  }

  .center{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  flex:1;
  i.icon{
  font-size:.2rem;
  color:#34CC67;
  }
  .line{
  @include num(100%,.04rem);
  background:#34CC67;
  margin:.05rem 0;
  position:relative;
  em{
  @include num(.15rem,.15rem);
  background:#34CC67;
  border-radius:50%;
  position:absolute;
  top:-.05rem;
  &:nth-child(1){
  left:-.02rem;
  }
  &:nth-child(2){
  right:-.02rem;
  }
  }
  }

  span{
  color:#696969;
  }
  }
  }

  aside{
  @include num(100%,1.75rem);
  background:#FBFBFB;
  border:{
  top:1px solid #ccc;
  bottom:1px solid #ccc;
  }
  margin-top:.1rem;
  }

  nav{
  @include num(100%,.4rem);
  display:flex;
  justify-content:space-between;
  align-items:center;
  a{
  height:100%;
  flex:1;
  border-bottom:1px solid #ccc;
  box-shadow:1px 1px 1px #ccc;
  text-align:center;
  line-height:.4rem;
  font-size:.16rem;
  color:#6C6C6C;
  &:hover{
  border-bottom:0;
  box-shadow:0 0 0;
  }
  i.icon{
  font-size:.18rem;
  color:#666;
  font-weight:bold;
  }
  &:nth-child(2){
  i.icon{
  color:#F16B0A;
  font-weight:normal;
  }
  border:{
  left:1px solid #ccc;
  right:1px solid #ccc;
  }
  }
  }
  }

  ul{
  @include num(100%,1.35rem);
  padding:0 .1rem;
  li{
  @include num(100%,.45rem);
  border-bottom:1px solid #ccc;
  display:flex;
  justify-content:space-between;
  align-items:center;
  &:last-child{
  border:0;
  }
  a{
  font-size:.18rem;
  color:#666;
  span{
  color:#FE9900;
  margin-left:.1rem;
  font-weight:bold;
  }
  }
  button{
  @include num(.5rem,.25rem);
  background:#FE9900;
  border:0;
  color:#fff;
  }
  }
  }

  p{
  @include num(100%,auto);
  margin-top:.1rem;
  padding:0 .1rem;
  color:#666;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  word-break:break-all;
  overflow:hidden;
  text-overflow:ellipsis;
  line-height:2;
  }

  .but{
  @include num(100%,1.65rem);
  border:{
  top:1px solid #ccc;
  bottom:1px solid #ccc;
  }
  padding-left:.1rem;
  background:#fff;
  margin-top:.2rem;
  }

  .bu{
  @include num(100%,.75rem);
  display:flex;
  justify-content:space-between;
  align-items:center;
  .left{
  padding-right:.05rem;
  h1{
  font-size:.16rem;
  color:#757575;
  i.icon{
  font-size:.16rem;
  color:#757575;
  }
  }

  h2{
  a{
  font-size:.18rem;
  color:#303030;
  margin-left:.1rem;
  i.icon{
  color:#CECECE;
  font-size:.18rem;
  font-weight:bold;
  margin-left:.5rem;
  }
  }

  }
  }

  .center{
  @include num(.3rem,.3rem);
  border-radius:50%;
  background:#46D265;
  color:#fff;
  text-align:center;
  line-height:.3rem;
  font-size:.2rem;
  }
  }

  ol{
  @include num(100%,.9rem);
  li{
  @include num(100%,.45rem);
  border-top:1px solid #ccc;
  display:flex;
  justify-content:space-between;
  align-items:center;
  a{
  color:#737373;
  font-size:.16rem;
  i.icon{
  color:#737373;
  font-size:.18rem;
  margin-right:.05rem;
  }

  b{
  color:#343434;
  margin-right:.05rem;
  font-weight:bold;
  }

  &:nth-child(2){
  i.icon{
  color:#D0D0D0;
  font-size:.18rem;
  font-weight:bold;
  }

  }
  }
  }
  }

  .button{
  @include num(80%,.32rem);
  background:#FE9900;
  margin-top:.15rem;
  border:0;
  color:#fff;
  font-size:.18rem;
  margin-left:10%;
  i.icon{
  margin-right:.05rem;
  }
  }

  .xu{
  @include num(100%,auto);
   margin-top:.5rem;
     padding:0 .3rem;
  ul{
  display:flex;
  li{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  border:0;
  flex-direction:column;
  position:relative;
  &:nth-child(2){
  border:{
  left:1px solid #ccc;
  right:1px solid #ccc;
  }
  }
  i.icon{
  font-size:.4rem;
  color:#B1B9C4;
  position:absolute;
  top:0;
  left:50%;
  margin-left:-.7rem;
  }
  h1{
  color:#838383;
  }
  }
  }

  .line{
  @include num(100%,.02rem);
  position:relative;
  margin-top:-.6rem;
  background:linear-gradient(to right,#F0F0F0,#777,#F0F0F0);

  h6{
  @include num(2rem,auto);
  position:absolute;
  top:-.1rem;
  left:50%;
  background:#F0F0F0;
  margin-left:-1rem;
  text-align:center;
  em{
  @include num(.1rem,.1rem);
  background:#777;
  border-radius:50%;
  position:absolute;
  top:.06rem;
  &:nth-child(1){
  left:0;
  }
  &:nth-child(2){
  right:0;
  }
  }
  }
  }
  }

  footer{
  @include num(100%,.45rem);
  background:#F9F9F9;
  border-top:1px solid #ccc;
  display:flex;
  a{
  flex:1;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:column;
  i.icon{
  font-size:.3rem;
  color:#ADADAD;
  }
  span{
  color:#ADADAD;
  font-size:.12rem;
  }
  &:hover{
  i.icon,span{
  color:#4CDA64;
  }
  }
  }
  }